#cloud-config

repo_update: true
repo_upgrade: all
package_update: true
package_upgrade: true

ssh_pwauth: false

# Adds each entry to ~/.ssh/authorized_keys for the configured user or the first user defined
%{ if public_ssh_keys != [] }
ssh_authorized_keys:
  %{ for key in public_ssh_keys ~}
  - ${key}
  %{ endfor ~}
%{ endif }