#cloud-config

repo_update: true
repo_upgrade: all
package_update: true
package_upgrade: true

ssh_pwauth: false

packages:
  - ca-certificates
  - curl
  - awscli
  - jq

%{~ if install_gitlab ~}
runcmd:
  - sudo /tmp/install_gitlab.sh
%{~ else ~}
%{~ if install_gitlab_runner ~}
runcmd:
  - sudo /tmp/install_docker.sh
  - sudo /tmp/add_gitlab_runner.sh
%{~ endif ~}
%{~ endif ~}