concurrent = ${concurrent}
check_interval = ${check_interval}
connection_max_age = "${connection_max_age}"
shutdown_timeout = ${shutdown_timeout}

[session_server]
  session_timeout = ${session_timeout}
